<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title><%= title %> </title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <!-- <link rel="shortcut icon" href="../../images/hatchback.png" /> -->

    <link href="./css/styles.css" rel="stylesheet" />

    <!-- bootstrap style -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
    <!-- font awesome -->
    <script
      src="https://kit.fontawesome.com/a9fb28c7af.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="d-flex">
      <!-- sidebar -->
      <%- include('sidebar') %>

      <div id="page-content-wrapper">
        <!-- navbar -->
        <%- include('navbar') %>
        <!-- akhir navbar -->

        <!-- main content -->
        <div class="form-add__car">
          <nav
            class="mx-4 pt-3"
            style="
              --bs-breadcrumb-divider: ' &#xf054;';
              font-family: Arial, 'FontAwesome';
            "
            aria-label="breadcrumb"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item fw-bold">
                <a href="#" class="text-dark" style="text-decoration: none"
                  >Cars</a
                >
              </li>
              <li class="breadcrumb-item fw-bold">
                <a href="/" class="text-dark" style="text-decoration: none"
                  >List Cars</a
                >
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Add New Car
              </li>
            </ol>
            <h4 class="fw-bold">Add New Car</h4>
          </nav>

          <form method="post" action="/add">
            <div class="form-card py-3 px-3 mt-3 mx-4">
              <div class="row">
                <label
                  class="form-label col-md-2 fs-12 col-form-label d-flex align-items-center"
                  >Nama<span>&#42;</span></label
                >
                <div class="col-md-10">
                  <input
                    name="name"
                    type="name"
                    class="form-control"
                    id="name"
                    placeholder="Avanza"
                  />
                </div>
              </div>
              <div class="row mt-3">
                <label
                  class="form-label col-md-2 fs-12 col-form-label d-flex align-items-center"
                  >Sewa Per Hari<span>&#42;</span></label
                >
                <div class="col-md-10">
                  <input
                    name="price"
                    type="text"
                    class="form-control"
                    id="harga"
                    placeholder="Rp 0,-"
                  />
                </div>
              </div>
              <div class="row mt-3">
                <label
                  class="form-label col-md-2 fs-12 col-form-label d-flex align-items-center"
                  >Ukuran<span>&#42;</span></label
                >
                <div class="col-md-10">
                  <select name="size" class="form-select">
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="large">Large</option>
                  </select>
                </div>
              </div>
              <div class="row mt-3">
                <label class="form-label col-md-2 fs-12 col-form-label d-flex"
                  >Foto<span>&#42;</span></label
                >
                <div class="col-md-10">
                  <input
                    name="photo"
                    class="form-control"
                    type="text"
                    placeholder="https://placeimg.com/640/480/any           &#xF603;"
                    id="formFile"
                    style="height: 32px; font-family: Arial, 'bootstrap-icons'"
                  />
                  <div id="fileHelp" class="form-text">File size max. 2MB</div>
                </div>
              </div>
            </div>
            <div class="btn-wrap confim-button mx-4">
              <a class="btn btn-outline-primary fs-14 button-cancel" href="/">
                Cancel
              </a>
              <button
                type="submit"
                class="btn btn-primary fs-14 ms-2 button-save"
              >
                Save
              </button>
            </div>
          </form>
        </div>

        <!-- akhir main content -->
      </div>
    </div>

    <!-- Bootstrap -->
    <script src="js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
