<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title><%= title %> </title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <!-- <link rel="shortcut icon" href="../../images/hatchback.png" /> -->

    <link href="./css/styles.css" rel="stylesheet" />

    <!-- bootstrap style -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
    <!-- font awesome -->
    <script
      src="https://kit.fontawesome.com/a9fb28c7af.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="d-flex">
      <!-- sidebar -->
      <%- include('sidebar') %>

      <div id="page-content-wrapper">
        <!-- navbar -->
        <%- include('navbar') %>
        <!-- akhir navbar -->

        <!-- main content -->
        <%- include('index') %>
        <!-- akhir main content -->
      </div>
    </div>

    <!-- Bootstrap -->
    <script src="js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
