<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light navbar-top">
  <div class="container-fluid">
    <button class="btn navbar-toggler-icon" id="sidebarToggle"></button>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse navigation-bar"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <div class="profile-user ms-3">
          <p class="fw-bold text-center mb-0" style="margin-top: 7px">L</p>
        </div>
        <div class="dropdown">
          <button
            class="btn dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Lalu Oki
          </button>
        </div>
      </ul>
    </div>
  </div>
</nav>
